.list {
  display: flex;
  justify-content: center;
  padding: 0;
  transform: perspective(90px) rotateY(5deg) rotate(-10deg) skew(8deg);
}
li {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  
  font-family: Dancing Script, sans-serif; /* Шрифт тексту */
  font-size: 20px; /* Розмір шрифту тексту */
  color: #333; /* Колір тексту */
  text-align: center; /* Вирівнює текст по центру */
}
.delete_button {
  background-color: red;
  border: 2px solid black;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 40px;
  cursor: pointer;
  
  
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  border-radius: 10px;
  margin: 10px;
}
.delete_button:hover{
  box-shadow: 5px 5px 8px 2px #667bd646;
  background-color: #b8b8b8;
}