.div_movies {
  padding: 20px;
}

.form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 300px;
  margin-right: 10px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.movie {
  margin: 10px;
  width: calc(
    33.33% - 20px
  ); /* Розраховує ширину так, щоб було 3 фільми в ряду */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Додає тінь */
  border-radius: 5px;
  overflow: hidden;
}

.movie img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Робить зображення фільму збалансованим і обрізає його за межами контейнера */
}

.movie h3,
.movie p {
  margin: 10px;
}

a {
  text-decoration: none;
  color: black;
}

li:hover {
  transform: scale(1.05); /* Збільшує розмір елементу при наведенні */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1); /* Додає тінь */
  text-decoration: none; /* Підкреслює посилання при наведенні курсора */
}
