body {
  display: block;
  margin: 0 100px;
}
.nav {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

.logo {
  margin-right: auto; /* Зсуває логотип вліво */
}

.nav-item {
  background-color: wheat;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 40px;
  text-decoration: none;
  color: black;
  border-radius: 8px; /* Закруглює кути елемента */
  transition: background-color 0.3s; /* Додає плавну анімацію зміни кольору при наведенні */
}

.nav-item:hover {
  background-color: lightgray; /* Змінює колір при наведенні */
}

.nav-item:active {
  background-color: sienna; /* Змінює колір при натисканні */
  color: black;
}
