body {
  display: block;
  margin: 0 100px;
}
a {
  text-decoration: none;
  color: black;
}
.nav {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}
.head_buttons {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.logo {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.nav-item {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 80px;
  height: 40px;
  text-decoration: none;
  color: black;
  border-radius: 8px; /* Закруглює кути елемента */
  transition: background-color 0.3s; /* Додає плавну анімацію зміни кольору при наведенні */
}

.home,
.movies {
  margin: 5px;
  padding: 10px;
  text-decoration: none;
  color: black;
  background-color: #fff; /* Білий */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Додає тінь */
}

.home:hover,
.movies:hover {
  color: black;
  text-decoration: none;
  background-color: lightgray; /* Світло-сірий */
}

.home:active,
.movies:active {
  color: black;
}
