.modalOverlayList {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(63, 59, 59, 0.5); /* Прозорий білий фон */
}

.div_list {
  width: 80%; /* Ширина вікна */
  max-width: 900px; /* Максимальна ширина вікна */
  max-height: 80%; /* Максимальна висота вікна */
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.5); /* Прозорий білий фон */
  border-radius: 8px; /* Радіус кутів вікна */
  padding: 20px; /* Відступи всередині вікна */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тінь вікна */
}

.list {
  display: flex;
  justify-content: center;
  padding: 0;
  border: 1px solid black;
}
li {
  list-style-type: none;

  margin: 5px;
  padding: 5px;

  font-family: Caveat, sans-serif; /* Шрифт тексту */
  font-size: 20px; /* Розмір шрифту тексту */
  color: #333; /* Колір тексту */
  text-align: center; /* Вирівнює текст по центру */
}

.li_button {
  border: none;
}

.checked {
  width: auto;
  height: auto;
}
.favorites {
  width: 15px;
  height: 15px;
  margin-right: 15px;
  border-radius: 50%;
}

.favorites.isTrue {
  background-color: green;
}

.favorites.isFalse {
  background-color: red;
}
